<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <title>Document</title>
</head>
<body>

    <div class="col-md-6 mx-auto pt-5">
        <form action="" method="post">
            <div class="mb-3">
            <label for="name_file" class="form-label">Name of File</label>
            <input type="text"
                class="form-control" name="name" id="" aria-describedby="helpId" placeholder="">
            </div>

            <div class="mb-3">
            <label for="ext" class="form-label">Extension</label>
            <input type="text"
                class="form-control" name="ext" id="" aria-describedby="helpId" placeholder="">
            </div>

            <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text"
                class="form-control" name="description" id="" aria-describedby="helpId" placeholder="">
            </div>

            <div class="mb-3">
            <label for="create_at" class="form-label">Created at...</label>
            <input type="datetime-local"
                class="form-control" name="create_at" id="" aria-describedby="helpId" placeholder="">
            </div>

            <div class="mb-3">
            <label for="create_by" class="form-label">Created by...</label>
            <input type="text"
                class="form-control" name="create_by" id="" aria-describedby="helpId" placeholder="">
            </div>

            <input name="save" id="" class="btn btn-primary form-control" type="button" value="Create">
        </form>
    </div>
        
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>
